* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--white);
  font-family: "Roboto", sans-serif;
}

.container {
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  min-height: calc(100vh - 50px);
}

.logo {
  width: 150px;
  height: 150px;
  margin: 30px auto;
}

.logo img {
  width: 100%;
}

h1 {
  font-size: var(--font-xl);
  color: var(--header-color);
  font-weight: bold;
}

.text-center {
  text-align: center;
  padding-top: 30px;
}

h2 {
  color: var(--footer-and-h2-biscuit);
  font-size: var(--font-l);
  text-align: center;
}

.state {
  font-size: var(--font-l);
  font-weight: bold;
}

.positive {
  color: var(--positive);
}

.zero {
  color: var(--zero);
}

.negative {
  color: var(--negative);
}

section {
  padding-top: 30px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list_form {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.input_button {
  padding: 10px;
  margin-top: 5px;
  outline: none;
  border: none;
  background: var(--golden);
  font-size: var(--font-sm);
  font-weight: bold;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: var(--font-m);
}

.list_summary {
  display: inline-block;
  margin: 30px 0;
  font-weight: bold;
}

.incomes_summary {
  border-bottom: 2px solid var(--positive);
}

.expenses_summary {
  border-bottom: 2px solid var(--negative);
}

.list {
  padding: 20px 0;
  border-top: 2px solid var(--deep-blue);
  border-bottom: 2px solid var(--deep-blue);
}

.list li {
  margin-bottom: 10px;
}

.list_item_element {
  padding: 5px 10px;
  margin: 6px 6px 0 0;
  border: none;
  outline: none;
  font-size: var(--font-m);
  font-weight: bold;
  color: var(--white);
}

.list_item_element[disabled] {
  color: var(--white);
}
.name_input,
.value_input {
  color: var(--text-color);
}

.edit_button {
  background-color: var(--deep-blue);
}

.delete_button {
  background-color: var(--negative);
}

.list_item_data {
  background-color: var(--background-color);
  color: var(--data-background);
  width: 120px;
}

footer {
  height: 76px;
  padding: 30px;
  text-align: center;
}

footer a {
  color: var(--white);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .list_summary {
    font-size: var(--font-m);
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 960px;
  }
  .text-center {
    padding-top: 30px;
  }
  .flex {
    flex-direction: row;
  }
  .list_form {
    display: block;
  }
  input {
    padding: 6px;
    font-size: var(--font-sm);
  }
  .input_button {
    padding: 5px;
  }
  .input_button:hover {
    background-color: var(--zero);
  }
  .list_item_button {
    padding: 4px 8px;
    font-size: var(--font-sm);
  }
  .list_item_element {
    width: 100px;
    font-size: var(--font-sm);
  }
  .list_summary {
    font-size: var(--font-m);
  }
  .edit_button:hover {
    background-color: blue;
  }
  .delete_button:hover {
    background-color: darkred;
  }
  .pointer {
    cursor: pointer;
  }
  footer {
    height: 50px;
    padding: 17px;
  }
  footer a:hover {
    color: var(--footer-and-h2-biscuit);
    cursor: pointer;
  }
}
